// font
$font_default: Arial, Helvetica, sans-serif;

// color
$color_default: rgba(0, 0, 0, 0.8);
$color_primary: dodgerblue;

// media query
$mq_smartphone: 480px;
$mq_tablet: 768px;
$mq_desktop: 992px;
$mq_widedesktop: 1200px;
$mq_hugedesktop: 1600px;
